.main_div {
    padding-top: 10px;
    padding-left: 5px;
    width: 90%;
}

.main_flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.graph {
    min-width: 200px;
    width: 40%;
    height: 300px;
    background: #338098;
    text-align: center;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    display: flex;
}

.graphtext {
    color: white;
}

.row1 {
    min-height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row_stat {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.col_img_info {
    min-width: 200px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.col_info {
    min-width: 200px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.col_right_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.col_stat {
    min-width: 200px;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img {
    min-width: 200px;
    overflow: hidden;
    width: 40%;
    display: flex;
    justify-content: center;
}

.image {
    height: 200px;
    max-width: initial;
}

.info{
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    background:white;
}

.info_right {
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    background:white;
}

.stat_title {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    align-items: center;
    justify-content: right;
    font-weight: bold;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 10px;
}

.progress_bar {
    width: 75%;
    flex-direction: column;
    float: right;
    padding: 10px;
}

.row {
    display: flex;
  }
  
.column {
flex: 50%;
padding: 2vw;;
}