@font-face {
    font-family: "hacked";
    src: local('hacked'), url("../fonts/hacked-webfont.woff") format("woff");
    }  

.fheader{
    width: 100%;
    background-color: black;
    height: 20vh;
    text-align: center;
    display:flex; 
    margin-left: auto;
    margin-right: auto;
    border-bottom-width:2px;
    border-bottom-color:White;
    border-bottom-style: solid;
}

.logo{
    filter: invert(100%);
    display: block;
    max-height: 100%;
}

.around_text{
    font-family: hacked;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.text_left{
    margin-left: auto;
    margin-right: 20px;
}

.text_right{
    margin-left: 20px;
    margin-right: auto;
}

@media (min-width: 858px) {
    .text_font_size {
        font-size: 16vh;
    }
}

@media (max-width: 780px) {
    .text_font_size {
        font-size: 12vh;
    }
}

@media (max-width: 702px) {
    .text_font_size {
        font-size: 11vh;
    }
}

@media (max-width: 623px) {
    .text_font_size {
        font-size: 9vh;
    }
}

.center_div{
    background-color: #333333;
    height: 100vh;
}

.jumbotron{
    background-color: #333333;
    color: honeydew;
}