@font-face {
  font-family: "hacked";
  src: local('hacked'), url("../fonts/hacked-webfont.woff") format("woff");
  }  

@font-face {
  font-family: "svbasicmanual";
  src: local('svbasicmanual'), url("../fonts/svbasicmanual-webfont.woff") format("woff");
  }  

.aaa {
  width: 100%;
}

.no_border{
  padding: 0%;
}

.topbar_link{
  font-family: svbasicmanual;
  color: white !important;
  font-size:22px;
  padding-left: 22px!important;
  padding-right: 22px;
}

.active {
  font-family: hacked !important;
  font-size:24px;
}

.logo_container{
  max-width: 100%;
  height: auto;
  padding-left: 3mm;
}

.image{
  filter: invert(100%);
  width: 40px;
  height: auto;

}

.white{
  filter: invert(100%);
}

.main_logo{
  margin: 0;
  padding: 0;
}