@font-face {
  font-family: "hacked";
  src: local('hacked'), url("../fonts/hacked-webfont.woff") format("woff");
  }  

@font-face {
  font-family: "svbasicmanual";
  src: local('svbasicmanual'), url("../fonts/svbasicmanual-webfont.woff") format("woff");
  }  

.aaa {
  width: 100%;
}

.no_border{
  padding: 0%;
}

.topbar_link{
  font-family: svbasicmanual;
  color: white !important;
  font-size:22px;
  padding-left: 22px!important;
  padding-right: 22px;
}

.active {
  font-family: hacked !important;
  font-size:24px;
}

.logo_container{
  max-width: 100%;
  height: auto;
  padding-left: 30mm;
  margin-left: 10mm;
}

.image{
  width: 40px;
  height: auto;

}

.white{
  filter: invert(100%);
}

.main_logo{
  margin: 0;
  padding: 0;
}

.main_logo_img{
  margin-left: 10px;
}

.icon{
  padding: 0em 0em;
  display: inline-block;
  border-radius: 50px;
  box-shadow: 0px 0px 2px #888;
  width: 50px;
  height: 50px;
  font-family: hacked !important;
  font-size:24px;
  background-color: #282F3C;
  filter: brightness(150%);
  cursor: pointer;
}

.dropdown{
  margin-right: 10px;
}